body{

    text-align: center;
    font-family:Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);

    
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    background-image: linear-gradient(
      90deg,
      transparent 50px,
      #ffb4b8 50px,
      #ffb4b8 52px,
      transparent 52px
    ),
    linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
  background-size: 100% 30px;
      
      
}
h1 {

@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);
 font-size:55px;
 user-select:none;
}

h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

h1 span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
h1 span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
h1 span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
h1 span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

h1 span:nth-child(2){ animation-delay:.05s; }
h1 span:nth-child(3){ animation-delay:.1s; }
h1 span:nth-child(4){ animation-delay:.15s; }
h1 span:nth-child(5){ animation-delay:.2s; }
h1 span:nth-child(6){ animation-delay:.25s; }
h1 span:nth-child(7){ animation-delay:.3s; }
h1 span:nth-child(8){ animation-delay:.35s; }
h1 span:nth-child(9){ animation-delay:.4s; }
h1 span:nth-child(10){ animation-delay:.45s; }
h1 span:nth-child(11){ animation-delay:.5s; }
h1 span:nth-child(12){ animation-delay:.55s; }
h1 span:nth-child(13){ animation-delay:.6s; }
h1 span:nth-child(14){ animation-delay:.65s; }

    
		
   
   


/* botoes*/

#buttons-container button {
 width: 130px;
 height: 40px;
 font-size: 1.1em;
 cursor: pointer;
 background-color: #000000;
 color: #fff;
 border: none;
 border-radius: 5px;
 transition: all .4s;
}

#buttons-container button:hover {
 border-radius: 5px;
 transform: translateY(-10px);
 box-shadow: 0 7px 0 -2px #f85959,
  0 15px 0 -4px #39a2db,
  0 16px 10px -3px #39a2db;
}

#buttons-container button:active {
 transition: all 0.2s;
 transform: translateY(-5px);
 box-shadow: 0 2px 0 -2px #f85959,
  0 8px 0 -4px #39a2db,
  0 12px 10px -3px #39a2db;
}

/* jogo*/

#container{

    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap:wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.box{
    height: 100px;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
    flex: 1 1 33%;



}



#block-1, #block-2, #block-3 {
    border-top: none;
}
#block-1, #block-4, #block-7 {
    border-left: none;
}
#block-7, #block-8, #block-9 {
    border-bottom: none;
}
#block-3, #block-6, #block-9 {
    border-right: none;
}

/*simbolos*/

.x{
    font-size: 65px;
    color: red;
    display:inline-block ;
    line-height: 100px;


}

.o{

    width: 50px;
    height: 50px;
    border:5px solid green;
    border-radius: 50%;
    display:inline-block;
    margin-top: 17px;
}

/* classe de esconder*/

.hide{

    display:none !important;

}

/*Placar*/

#scoreboard-container{
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.score-box {
    margin: 0 20px;


}

#x-scoreboard{
    color: red;
    margin-right: 3px;


}

#o-scoreboard{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid green;
    border-radius: 50%;
    margin-right: 3px;


}


/* msg de vitoria */

#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 22%;
    transform: translateY(-50%);
    width: 80%;
    max-width: 500px;
    font-size: 3em;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease forwards, glow 2s infinite alternate;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px rgba(115, 197, 7, 0.9), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgba(115, 197, 7, 0.9), 0 0 30px rgba(255, 255, 255, 0.9), 0 0 40px rgba(255, 255, 255, 0.9);
    }
}

/* teste */


  